.web-icon {
    height: 70px;
    width: 75px;
}

.login,
.newAccount {
    height: auto;
    width: 500px;
    margin: 150px auto 0px auto;
    text-align: center;
    padding: 40px 0px;
    border-radius: 10px;
    background-color: #ffc2c4;
    position: static;
}

.login-create {
    display: flex;
}

.header-login {
    font-size: 20px;
}

span {
    text-align: left;
}

div input {
    width: 300px;
    margin: 10px auto;
}

.username,
.password {
    margin-top: 25px;
}

.password {
    margin-bottom: 25px;
}

button {
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid
}

.error {
    border: 3px solid #a94442;
}

.error-text {
    color: red;
}

.toast {
    background-color: #F96167;
}