<app-nav-header></app-nav-header>
<div class="main-content container">
    <h3>Personal details</h3>
    <div class="row ">
        <div class="col-sm-6">
            <div class="user-form">
                <form>
                    <label for="fname">Username : </label>
                    <input type="text" id="fusername" name="fusername" [value]="user.username" disabled><br><br>
                    <label for="fname">First name : </label>
                    <input type="text" id="fname" name="fname" [value]="user.firstname" [disabled]="!canEdit"><br><br>
                    <label for="lname">Last name :</label>
                    <input type="text" id="lname" name="lname" [value]="user.lastname" [disabled]="!canEdit"><br><br>
                    <label for="lname">Last name :</label>
                    <input type="text" id="lname" name="lname" [value]="user.lastname" [disabled]="!canEdit"><br><br>
                    <button type="submit" class="btn" (click)="edit()">Edit</button>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="address-form ">
                <form>
                    <label for="fname">Username : </label>
                    <input type="text" id="fusername" name="fusername" [value]="user.username" disabled><br><br>
                    <label for="fname">First name : </label>
                    <input type="text" id="fname" name="fname" [value]="user.firstname" [disabled]="!canEdit"><br><br>
                    <label for="lname">Last name :</label>
                    <input type="text" id="lname" name="lname" [value]="user.lastname" [disabled]="!canEdit"><br><br>
                    <button type="submit" class="btn" (click)="edit()">Edit</button>
                </form>
            </div>
           
        </div>
    </div>
</div>